@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
	display: inline-block;
/*	border: 2px solid green;*/
	width: 1440px;
	height: 50px;
	margin-top: auto;
	margin-bottom: 20px;
	margin-left: 20px;
	font-family: helvetica;
	background: white;
	position: sticky;
	top: 0;
	z-index: 100;
	
}
.header-main{
	display: inline-block;
	margin-left: 40px;
	
}
.logo {
	display: inline-block;
/*	margin: 21px 90px 18px 30px;*/
	margin-top: 21px;
	margin-right: 90px;
	margin-left: 30px;
}
nav {
	display: inline-block;
	margin-bottom: 19px;
}
li {
	display: inline-block;
	margin-left: 20px;
	vertical-align: 0 auto;
}
.qalii {
	margin-left: 39px;
}
.container {
	width: 1160px;
	height: 1368px;
	margin: 0 auto;
	/*background: grey;*/
}


.text1 {
	font-size: 13px;
	margin: 76px 39px 16px 40px;
	font-family: helvetica;

}

.section1 {
	width: 360px;
	height: 350px;
/*	background: white;*/
	display: inline-block;
	/*margin-right: 40px;*/
	position: relative;
}


h3 {
	display: block; 
	margin-bottom: 20px;
	font-family: helvetica;

}

h4 {
	margin-bottom: 40px;
	margin-top: 60px;
	font-family: helvetica;
}

h5 {
	position: absolute;
	width: 281px;
	height: 16px;
	top: 28px;
	right: 39px;
	bottom: 136px;
	left: 40px;
	color: white;
	font-size: 16px;
	
}

.saati {
	display: inline-block;
	margin-left: 40px;

}
.minute {
	display: inline-block;
	margin-bottom: 60px;
	margin-top: 13px;
}

.image2 {
	display: inline-block;
	width: 730px;
	height: 430px;
}
.image3 {
	display: inline-block;
	width: 360px;
	height: 210px;
	vertical-align: top;
	margin-left: 40px;
}
.shua {
	margin: 102px auto;
}

footer {
	width: 1160px;
	height: 200px;
	background: #a6adb4;
	margin: 0 auto;
}
.logo1 {
	display: inline-block;
	margin: 59px 91px 131px 0px;
}
.text2, .text3, .text4 {
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	margin-top: 47px;
	
}
.text3 {
	margin-left: 69px;
	margin-right: 81px;
}
.text4 {
margin-right: 50px;
}
h2 {
	display: inline-block;
	font-size: 11px;
	margin-right: 50px;
	margin-top: 62px;
	vertical-align: top;

}
.boloo {
	display: inline-block;
	vertical-align: top;
	margin-top: 62px;
	margin-left: 164px;

}
.footer1 {
	margin-top: 39px
}

.icon {
	margin-left: 32px;
}